*{
    box-sizing: border-box;
    padding: 0;
    margin :0
  }
  
  #header {
    display: flex;
    height: 7rem;
    justify-content: space-around;
    background-color:#0080ff;
    text-transform: uppercase;
  position: fixed;
  width: 100%
  }
  
  @media only screen and (max-width:1020px) {
    #header{
      display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 15rem;
  position:relative;
  }
  
  #header-img {
    width: 2rem;
  }
  
  }  